.sidebar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

body{
    background-image: url('src/pages/Home/aa.jpeg');

}